.DS_Store
.tdb/
semantic.cache
bin/
node_modules/

package-lock.json

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/ccf.owl
src/ontology/ccf.obo
src/ontology/ccf.json
src/ontology/ccf-base.*
src/ontology/ccf-basic.*
src/ontology/ccf-full.*
src/ontology/ccf-simple.*
src/ontology/ccf-simple-non-classified.*

src/ontology/data/mirror

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-ccf-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt
src/ontology/imports/*_import.owl

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
